#page-cadastro {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
#page-cadastro header {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-cadastro header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}
#page-cadastro header a span {
    margin-right: 16px;
    background-image: url(../assets/arrow-left.svg);
    width: 20px;
    height: 24px;
    display: flex;
}
form {
    margin: 80px auto;
    background-color: white;
    padding: 64px;
    border-radius: 8px;
    max-width: 730px;

}
form h1 {
    font-size: 36px;
}
form fieldset {
    margin-top: 64px;
    border: 0;
    width: 100%;
}
form legend {
    margin-bottom: 40px;
}
form legend h2 {
    font-size: 24px;
}
form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #f0f0f5;
   
    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;

    outline: none;
}
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
form label {
    font-size: 14px;
    margin-bottom: 8px;
}
form .field-group .field + .field {
    margin-left: 24px;
}
form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    transition:  400ms;
    outline: none;
}
form button:hover {
    background-color: #2fb86e;
    cursor: pointer;
}
#items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px; /*um margin para grid*/
}
#items-grid li {
    list-style: none;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    text-align: center;

    cursor: pointer;
}
#items-grid li span {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
}
#items-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb59;
}
#items-grid li img,
#items-grid li span {
    pointer-events: none;
}
fieldset legend#flex {
    
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
