#page-home {
    height: 100vh; /*transforma a altura da div*/
    background: url('../assets/home-background.svg') no-repeat; /*bota a imagem e pede p n repetir*/
    
    background-position: 35vw bottom /*bottom serve pra abaixar o background o maximo*/; 
}

.content {
    width: 90%; /*a div vai ter sempre 90%*/
    max-width: 1100px; /*o width 90% só vai valer até 1100px*/
    margin: 0 auto; /*alinhar a div no centro da tela*/
    height: 100%;
    display: flex;
    flex-direction: column;
}
#page-home header {
    display: flex; /*para deixar itens ao lado do outro em uma tag*/
    align-items: center; /*alinha todos os itens em uma linha só*/
    justify-content: space-between; /*joga cada um p cada lado*/
    margin-top: 48px;
}
#page-home header a {
    display: flex; 
    color: var(--title-color);
    font-weight: 700;
}
#page-home header span {
    margin-right: 16px;
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
    display: flex; /*p conseguir mostrar ele*/
}
#page-home main {
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /*centraliar*/
}
#page-home main h1 {
    font-size: 54px;
    color: var(--title-color)
}
#page-home main p {
    margin-top: 24px; /*a distancia do h1*/
    font-size: 24px; 
    line-height: 38px; /*distancia entre si*/
}
#page-home main a {
    width: 100%;
    height: 72px;
    border-radius: 8px;
    max-width: 360px;
    background: var(--primary-color);
    display: flex;
    align-items: center; /*alinhar verticalmente*/
    margin-top: 40px;
    transition: all 0.4s;
    color: white;
}
#page-home main a:hover {
    background-color: #2fb86e;
}
#page-home main a span {
    width: 72px;
    height: 72px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center; /*alinhar horizontalmente */
}
#page-home main a span::after {
    content: '';
    background-image: url(../assets/search.svg);
    width: 20px;
    height: 20px;
}
#page-home main a strong {
    flex: 1;
    text-align: center;
}
