:root {  /*cria variaveis centrais para facilitar*/
    --title-color: #322153;
    --primary-color: #34cd79;
}
* { /*todos os elementos do site*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    font-family: 'Roboto', sans-serif; /*toda fonte no html vai ser Roboto*/
}
body {
    background: #f0f0f5; 
    -webkit-font-smoothing: antialiased; /*deixa as fontes mais bonitas*/
}
a {   /*todo link*/  
    text-decoration: none;
}
h1,h2,h2,h4,h5,h6 { /*todo titulo*/
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}




